*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Hammersmith One', sans-serif;
    /*    background-color: #e1d5d5;*/
    /* background-image: url(../Imagenes/upii.jpg);
     /* Para dejar la imagen de fondo centrada, vertical y
     horizontalmente */
    background-position: center center;
    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para
    que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el
    cambio del ancho de ventana del navegador */
    background-size: cover;
    /* Se muestra un color de fondo mientras se está cargando la imagen
    de fondo o si hay problemas para cargarla */
    background-color: #e1d5d5;
}


/* H E A D E R */
/*ESTILO DE TODA LA BARRA DE NAVEGACIÓN*/
.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
}
/*PONE LO QUE ESTÉ ADENTRO DE NAV A LA DERECHA*/
nav{
    flex:1;
    text-align: center;
}
/*PARTE DEL UL
INLINE-BLOCK PONE EN UNA SOLA FILA LO QUE ESTÉ LISTADO*/
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 50px; /*ESPACIO ENTRE LOS ELEMENTOS DE LA LISTA*/
    font-size: 21px;
}
/*PARA CAMBIAR EL COLOR DE LOS HIPERVINCULOS "a"*/
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #8a8a8a;
}
p{
    color: #fff;
}
.header{
    /*background: radial-gradient(#ffd6d2, #ff5b4f); 
    /*SE HACE UN DEGRADADO, EL PRIMERO ES EL COLOR DEL CENTRO, EL SEGUNDO EL DE AFUERA*/
    background-color: #800040;
}
.header .row{
    margin-top: 0px;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px; /*PONE UN MARGEN A LA IZQUIERDA*/
    padding-right: 25px; /*PONE UN MARGEN A LA DERECHA*/
}




/* T I T U L O S */

.title{
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 60px;
    color: black;
}
/*  PONE UNA BARRITA DE COLOR EN EL TÍTULO  */
.title::after{
    content:'';
    background: #800040;
    width: 350px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}



/* F O R M U L A R I O - I N I C I O - S E S I O N */

.title{
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 60px;
    color: black;
    margin-bottom: 40px;
    margin-top: 40px;
}
/*  PONE UNA BARRITA DE COLOR EN EL TÍTULO  */
.title::after{
    content:'';
    background: #800040;
    width: 350px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}

.titulo-sesion2{
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.form-container{
    margin-bottom: 10px;
    width: 450px;
    padding: 0px;
    margin: auto;
}
.form-container small{
    color: black;
}
.form-container small:hover{
    color: blue;
}

/*PALABRAS*/
.etiquetas{
    color: black;
    font-size: 22px;
}


/* T A B L A */

.registrosInteraccion{
    margin-bottom: 100px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    background-color: #e1d5d5;  
}

.TitulosTabla{
    font-weight: 900;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #4A944C;
}
.logos{
    color: #800040;
}

/* F O O T E R */
.footer{
    background: #800040;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 100px;
}
.footer p{
    color:#ffffff;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1{
    min-width: 250px;
    margin-bottom: 20px;
    flex-basis: 30%;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}


/* B O X */

.registros{
    margin-bottom: 100px;
    background-color: lightgrey;
    width: 450px;
    border: 15px solid green;
    padding: 40px;
    margin: auto;
}
